.office-background {
    background-image: linear-gradient(rgba(54, 57, 34, 0.6), rgba(40, 5, 63, 0.6)), url("/officebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  


  